.phaserContainer
{
  position: fixed;
  top: 5.5%;
  left: 0;
  height: 92%;
  width: 100%;

  /* this is what centers your element in the fixed wrapper*/
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  /* aligns on vertical for column */
  align-items: center;
  /* aligns on horizontal for column */

  /* just for styling to see the limits */
  box-sizing: border-box;

    background: url('https://images.pexels.com/photos/1616403/pexels-photo-1616403.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

