.container {
  display: grid;
  grid-template-areas: "left gameinner right";
  grid-template-columns: 1fr 800px 1fr;
}

.speedometer {
  grid-area: left;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.6);
}
.gameinner {
  grid-area: gameinner;
}

.right {
  grid-area: right;
}
