.phaserContainer
{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  /* this is what centers your element in the fixed wrapper*/
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  /* aligns on vertical for column */
  align-items: center;
  /* aligns on horizontal for column */

  /* just for styling to see the limits */
  border: 2px dashed red;
  box-sizing: border-box;
}