
.login-form-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
    width: 300px;
    padding-right: 200px;
    padding-bottom: 100px;
    /* background-image: url('back1.jpg'); */
}

.signup-form-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 460px;
    width: 300px;
    padding-right: 200px;
    padding-bottom: 100px;
}

.loing-form-submit-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 15px;
}

.signup-form-submit-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-top: 2px solid paleturquoise;
    padding: 15px;
}

.signup-input{
    width: 90%;
    padding: 15px;
    border: 1px solid black;
}

.login-input{
    width: 90%;
    padding: 15px;
    border: 1px solid black;
}



.login-signup-button-title {
  padding-right: 15px;
  font-size: 18px;
  color: #fff;
  font-family: Monoton;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}


@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}


.login-signup-group{
    display: flex;
    justify-content: center;
    border-top:2px solid paleturquoise;
    padding-top: 10px;
}

.modal-background {
   position: fixed;
   top: 0%;
   bottom: 0;
   right: 0;
   left: 6%;
   transform:scale(0);
   /* background: rgba(15, 3, 3, 0.5); */
   background-repeat: no-repeat;
   background-size: cover;
   background-position-x: 150px;
   opacity: 1;
   z-index: 200;
   background-image: url('car2.jpg'); 
   width: 80%;
   height: 100%;
   
   transform:scaleY(.01) scaleX(0);
   animation:unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
   
}


.test{
    position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   transform:scale(0);
   background: rgba(0, 0, 0, 0.5);
   z-index: 5;
    transform:scale(1);
    animation:unfoldOut 1s .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;

}

.signup-botton{
    align-self: center;
}


  
.signup-form{
    display:flex;
    flex-direction: column;
}


@keyframes unfoldIn {
  0% {
    transform:scaleY(.005) scaleX(0);
  }
  50% {
    transform:scaleY(.005) scaleX(1);
  }
  100% {
    transform:scaleY(1) scaleX(1);
  }
}

@keyframes unfoldOut {
  0% {
    transform:scaleY(1) scaleX(1);
  }
  50% {
    transform:scaleY(.005) scaleX(1);
  }
  100% {
    transform:scaleY(.005) scaleX(0);
  }
}
         /* transform:scale(1);
       animation:unfoldOut 1s .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards; */




 .modal-child {
   position: absolute;
   top: 40%;
   left: 40%;
   transform: translate(-50%, -50%);
 }

 .close-x {
   position: absolute;
   top: 10px;
   cursor: pointer;
   color: white;
   font-size: 30px;
   font-family: 'Nunito Sans', sans-serif;

 }

 .x-test{
     width: 300px;
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
    /* background-image: url('x.jpg'); */

 }
